html {
  background-color: #c9b5ab;
  line-height: 1.5;
}

li {
  color: #8f2440;
  text-decoration: none;
  font-weight: bold;
  font-family: "PT sans";
}

.bigger {
  font-size: 1.2rem;
}

blockquote p {
  font-family: "PT Serif", serif;
  font-size: 1.5rem;
  font-style: italic;
}

h2 {
  color: #3f1622;
  font-family: "PT sans";
}

h1 {
  color: #3f1622;
  font-family: "PT sans";
}

li:nth-child(1n) {
  color: black;
}

ol > li {
  list-style-type: lower-greek;
}

a:link {
  color: #8f2440;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

figcaption {
  text-align: center;
}

dl {
  line-height: 1.5rem;
}

ul {
  list-style-type: circle;
}

nav ol li {
  list-style-type: none;
}

img {
  width: 100%;
}
